<%- include("layout") %>
<section>
  <h2>Your Movies</h2>
  <ul>
    <% movies.forEach(movie => { %>
      <li>
        <h3><%= movie.title %></h3>
        <p>Genre: <%= movie.genre %></p>
        <p>Year: <%= movie.year %></p>
        <p>Status: <%= movie.status %></p>
        <a href="/movies/<%= movie._id %>/edit" class="btn">Edit</a>
        <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
          <button class="btn danger">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</section>
